.header {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 45px;
    margin-top: 15px;
    color: white;
    padding: -80px;
  }