:root{
  --color-bg: #0F103F;
  --color-primary: linear-gradient(90deg, rgba(201,97,222,1)  0%, rgba(41,87,163,1) 100%);
  --color-primary-variant: #2957A3;
  --color-white: #fff;
  --color-light: linear-gradient(90deg, #B5F9FD  42%, #fff 100%);

--transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm:90%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');;

html{
scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7; 
  background-image: url("./img/siteBackground.png");
  background-repeat: no-repeat;
  background-size: auto;
}


/*==== GENERAL STYLE ====*/

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,h2,h3,h4,h5 {
  font-weight: 500;
} 

h1{
  font-size: 2.5rem;
}
section {
  margin-top: 8rem;
}
section> h2,
section> h5{
  text-align: center;
  margin-bottom: 3rem;
}

.text-light{
  color: var(--color-light)
}

a{
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white)
}

/* ===== MEDIA QUERIES ===== */

@media screen and (max-width: 600px){
  .container{
    width: var(--container-width-sm)
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}